# Add your local user settings to file `user.bazelrc`
try-import %workspace%/user.bazelrc

# Add project-wide settings below.
test --test_output=errors

# Useful for examining generated database files.
test --nozip_undeclared_test_outputs
